.highLightWord{
  background: chartreuse;
  color: rebeccapurple;
}
.resultBox {
  background: #ececec;
  border: solid 1px #cac9c9;
}
.boxPosition{
  margin-top: 15px;
}

.similarWord{
  padding: .2em;
  background-color: #e3e5fc;
}
