/* You can add global styles to this file, and also import other style files */
.selectedWord{
  background: chartreuse;
  color: black;
}
.similarWord{
  padding: .2em;
  background-color: #e3e5fc;
}
